# Matlab datafiles
**.mat

# EEGlab datasets
**.fdt
**.set

# Diaries log files
**.log

# TEX related files
**.tex
**.pdf
**.aux
**.svg
**.png

# Folders
/home/paulo-cabral/Documents/pos-doc/pd_paulo_passos_neuromat/Publications/Passos_etal202X/python_code/virtual/
